$color--accent: #E91E63;
.card {
 background: #fff;
 border: 1px solid #ddd;
 margin: 1rem;
}
body{
  background: #CCFFFF;
  text-align: left;
  font-family: 'Dosis', sans-serif;
}

a:link {
    color: #333;
}

/* visited link */
a:visited {
    color: #;
}

/* mouse over link */
a:hover {
    color: #;
}

/* selected link */
a:active {
    color: #;
}


.card-meta {
  color: #333;
  font-size: .75rem;
  text-transform: uppercase;
}

.card-header {
  color: #fff;
   padding: 2 rem 0;
  background: #263238;
    &:target {
      background: $color--accent;
    }
}

.card-content {
  padding: 1 rem 0;
  + .card-content {
    border-top: 1px solid #ddd;
  }
}

#wrapper{
  margin: 0px 20px;
  text-align:left;
  padding: 0px 20px;
}
h2 {
  font-weight: 300;
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}
a{
  text-decoration:none;
}
